* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;

    @media only screen and (max-width: 400px) {
        padding: 50px;
    }
}

.clock {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;

    & > * {
        display: flex;
        flex: 1 0 auto;
        flex-wrap: wrap;
        margin-right: 5px;
        position: relative;

        &:nth-child(2),
        &:nth-child(4) {
            margin-right: 20px;

            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 120%;
                top: 50%;
                right: -10px;
                transform: translate(0, -50%);
                background-color: #7c7c7c;
                box-shadow: 2px 3px 3px 1px #9f9f9f;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        & * {
            width: 50%;
            aspect-ratio: 1/1;
            position: relative;

            &.colored {
                &::before {
                    content: "";
                    background-color: #000;
                    position: absolute;
                    width: 80%;
                    aspect-ratio: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 100%;
                    box-shadow: 2px 3px 3px 1px #9f9f9f;
                }
            }
        }

        @media only screen and (max-width: 400px) {
            flex: 1 0 50%;
            margin-right: 0 !important;
            margin-bottom: 30px;

            &::before {
                content: "";
                position: absolute;
                width: 50%;
                height: 1px;
                bottom: -15px;
                transform: translate(0, 0);
                background-color: #7c7c7c;
                box-shadow: 2px 3px 3px 1px #9f9f9f;
            }

            &:nth-child(1),
            &:nth-child(3) {
                &::before {
                    right: 0;
                }
            }
            &:nth-child(2),
            &:nth-child(4) {
                &::before {
                    left: 0;
                }
            }

            &:nth-child(n + 5) {
                margin-bottom: 0;

                &::before {
                    display: none;
                }
            }

            &::after {
                display: none;
            }
        }
    }
}
